@import './_variables';
@import './_mixins';
@import './_placeholders';


/*************    GENERAL **************/

html {
    font-size: 15px;
    scroll-behavior: smooth;
    overflow-y: hidden;
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
  }

a{
  text-decoration: none;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size:1.95rem;
  }

h2, h3{
  font-size:1.4rem;
  font-family: 'Roboto', sans-serif;
}




/*************     HEADER SECTION ***********/
  header{
        h1{
        @extend %text-center;
        margin: 15px 0 4px;
                }
  }

/*************  RESERVATION SECTION *******/
#reservation_localisation{
  @extend %flex-center;
  background-color: $color-background02;
  height:50px;
    #map-point{
      margin-right: 10px;
    }
    p{
      padding-right:40px;
    }
}

#reservation_texte{
  @extend %flex-center-column;
  background-color:$color-background01;
  padding:20px 0;

  &>*{
    margin:5px auto;
    text-align:center;
  }
  h2{
    margin-top:10px;

  }
  p{
    color:grey;
  }
  a{
    width:200px;
    height:48px;
    margin:8% 0;
    color:$color-text02;
    border-radius:30px;
    background-image:linear-gradient($color-secondaire, $color-primaire);
    display:grid;
    place-items: center;
  }
}

/********** Fonctionnement section ***********/
#fonctionnement{
 h3{
   margin: 10% 0 3%;
   padding-left: 5%;
 }
 ol{
  @extend %flex-center-column;
  list-style: none; 
  counter-reset: li;
 }
 li{
  counter-increment: li;
  @extend%flex-center;
  position: relative;
  margin:5% 0;
  width:90%;
  height: 55px;
  background-color: $color-background01;
  border:1px solid $color-background01;
  border-radius:17px;
  box-shadow: 2px 5px 5px $color-background02;
}
 li::before {content: counter(li); color:$color-text02;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  border-radius: 30px;
  border:1px solid $color-primaire;
  background-color: $color-primaire;
  text-align:center;
  position:absolute;
  left:7px;

 }
 span{
   position: absolute;
   left:40px;
   color:grey;
 }
 .fa-store{
   color:$color-primaire;
 }

}

footer{
  background-color: $color-background-footer;
  color: $color-text02;

}








