@import "./_variables";
@import "./_mixins";
@import "./_placeholders";

/*************    GENERAL **************/

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-family-text;
}
body{
  position:relative;
}

a {
  text-decoration: none;
  color:$color-text01;
  &:hover{
    color:$color-text01;
  }
  &:active{
    color:$color-text01;
  }
}

li{
  list-style: none;
}
h1, h2, h5 {
  font-family: $font-family-heading;
  font-size: 1.95rem;
}

h2 {
  font-size: 1.4rem;
  color: $color-text01;
}

h3{
  font-size: 1.5rem;
}



/*************     HEADER SECTION ***********/
#snippet-header {
  overflow: hidden;
  width: 100%;
  height: auto;
  position:absolute;
  top:0;

}

header {
  h1 {
    @extend %text-center;
    margin: 15px 0 4px;
  }

}

#header-flex{
  @extend %flex-center;
  padding-top:20px;
  
  width:100%;
  img{
    margin-left: 2rem;
    height: 2rem;
  }
  .fas{
    font-size:larger;
    // margin-left: -272%;
  }

}



/*************  RESERVATION SECTION *******/
#reservation_localisation {
  @extend %flex-center;
  background-color: $color-background02;
  height: 50px;
  #map-point {
    margin-right: 10px;
  }
  p {
    padding-right: 40px;
  }
}

#reservation_texte {
  @extend %flex-center-column;
  background-color: $color-background01;
  padding: 20px 0;

  & > * {
    margin: 5px auto;
    text-align: center;
  }
  h2 {
    margin-top: 10px;
  }
  p {
    color: grey;
  }
  
  .btn-principal {
    width: 200px;
    height: 48px;
    margin: 8% 0;
    color: $color-text02;
    border-radius: 30px;
    background-image: linear-gradient($color-secondaire, $color-primaire);
    display: grid;
    place-items: center;
  }
}

/********** Fonctionnement section ***********/
#fonctionnement {
  h3 {
    margin: 10% 0 3%;
    padding-left: 5%;
  }
  ol {
    @extend %flex-center-column;
    list-style: none;
    counter-reset: li;
  }
  li {
    counter-increment: li;
    @extend%flex-center;
    position: relative;
    margin: 4% 0;
    width: 90%;
    height: 55px;
    background-color: $color-background01;
    border: 1px solid $color-background01;
    border-radius: 17px;
    box-shadow: 2px 5px 5px $color-background02;
  }
  li::before {
    content: counter(li);
    color: $color-text02;
    display: inline-block;
    width: 18px;
    height:20px;
    margin-left: -1em;
    border-radius: 10px;
    border: 1px solid $color-primaire;
    background-color: $color-primaire;
    text-align: center;
    position: absolute;
    left: 7px;
  }
  span {
    position: absolute;
    left: 40px;
    color: grey;
  }
  .fa-store {
    color: $color-primaire;
  }
}

/********** restaurants section ***********/
#restaurant {
  background-color: $color-background01;
  margin: 9% 0;
  padding-top: 12%;
  width: 100vw;
  h3 {
    margin: 10px 0 20px;
    padding-left: 5%;
  }
}

#restaurant_flex {
  @extend %flex-center-column;
  a {
    margin: 16px;
    width: 90%;
  }
  figure {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 100%;
    height: 22%;
    border-radius: 30px;
    align-items: center;
    position:relative;
  }
  .restaurant__nouveaute{
   background-color:$color-tertiaire;
   position:absolute;
   top: 20px;
    right: 20px;
    width: 74px;
    text-align: center;
    padding: 5px;
  }

  img {
    width: 100%;
    height: 159px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
    object-position: bottom;
  }
  figcaption {
    background-color: white;
    border-radius: 0px 0px 30px 30px;
  }
  .restaurant__paragraphe{
    font-weight:$font-weight-paragraph;
  }
 
}
.restaurant__figcaption--flex {
  width: 100%;
  height:56px;
  padding: 0 14px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: white;
    border-radius: 0px 0px 20px 20px;
    span{
    margin-right:25px;
    }
    .fa-heart{
      font-size: large;
    }
  button {
    background-color: white;
  border: none;
    &:hover{
      cursor: grab;
      background-color:red;
    }
  }
}

/********** footer section ***************/
#snippet-footer {
  width: 100%;
  height: 187px;

}


footer {
  background-color: $color-background-footer;
  color: $color-text02;
  padding: 5%;

  h4 {
    margin-top: 41px;
    font-size: 1.3rem;
  }
  #footer__links {
    margin: 5% 0;
  }
  p {
    margin-top: 2%;
    font-size: 0.7rem;
  }
  span {
    margin-right: 5px;
  }
  a {
    color: $color-text02;
  }
}







/******* MODELE PAGE **********/

#header__image{
  img{
  margin-top:55px;
  width:100%;
  height:200px;
}
}

main{
 border:1px solid $color-background01;
border-radius:0px 0px 20px 20px;
  background-color:$color-background01 ;
  width:100%;
  position: absolute;
bottom: 54px;
border-radius: 40px 40px  0px 0px;
padding: 30px 30px 0;

.menu__link{
  background-color: white;
  margin-top: 25px;
  border-radius: 14px;
  }
  
}




#heading__main{
  display: flex;
  justify-content: space-between;
  
}


.btn-principal {

  width: 200px;
  height: 48px;
  margin: 8% 0;
  color: $color-text02;
  border-radius: 30px;
  background-image: linear-gradient($color-secondaire, $color-primaire);
  display: grid;
  place-items: center;
  margin: 50px auto;
}

