header h1 {
  text-align: center;
}

#fonctionnement li::before, #fonctionnement li, #reservation_localisation, #header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#restaurant_flex figure, #restaurant_flex, #fonctionnement ol, #reservation_texte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*************    GENERAL **************/
html {
  font-size: 15px;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}

li {
  list-style: none;
}

h1, h2, h5 {
  font-family: "Shrikhand", cursive;
  font-size: 1.95rem;
}

h2 {
  font-size: 1.4rem;
  color: black;
}

h3 {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

/*************     HEADER SECTION ***********/
#snippet-header {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
}

header h1 {
  margin: 15px 0 4px;
}

#header-flex {
  padding-top: 20px;
  width: 100%;
}
#header-flex a {
  padding-left: 6%;
}
#header-flex img {
  height: 2rem;
  margin: 0 auto;
  padding-right: 6%;
}
#header-flex .fas {
  font-size: x-large;
}

/*************  RESERVATION SECTION *******/
#reservation_localisation {
  background-color: #e5e5e5;
  height: 50px;
}
#reservation_localisation #map-point {
  margin-right: 10px;
}
#reservation_localisation p {
  padding-right: 40px;
}

#reservation_texte {
  background-color: #f2f2f2;
  padding: 20px 0;
}
#reservation_texte > * {
  margin: 5px auto;
  text-align: center;
}
#reservation_texte h2 {
  margin-top: 10px;
}
#reservation_texte p {
  color: grey;
  margin-bottom: 20px;
}
#reservation_texte a {
  margin-bottom: 33px;
}

/********** Fonctionnement section ***********/
#fonctionnement h3 {
  margin: 10% 0 3%;
  padding-left: 5%;
}
#fonctionnement ol {
  list-style: none;
  counter-reset: li;
}
@media (min-width: 799px) {
  #fonctionnement ol {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#fonctionnement li {
  counter-increment: li;
  position: relative;
  margin: 4% 0;
  width: 90%;
  height: 55px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 17px;
  box-shadow: 2px 5px 5px #e5e5e5;
}
@media (min-width: 799px) {
  #fonctionnement li {
    width: 18rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 4%;
    align-content: center;
  }
}
#fonctionnement li::before {
  content: counter(li);
  color: white;
  width: 18px;
  height: 20px;
  margin-left: -1em;
  border-radius: 10px;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  text-align: center;
  position: absolute;
  left: 7px;
}
#fonctionnement span {
  position: absolute;
  left: 26px;
  color: grey;
}
#fonctionnement .fa-store {
  color: #9356DC;
}

.fa-bars {
  margin-left: 7px;
}

/********** restaurants section ***********/
#restaurant {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding-top: 12%;
  width: 100vw;
  padding-bottom: 200px;
}
#restaurant h3 {
  margin-top: 10px;
  padding-left: 5%;
}

@media (min-width: 799px) {
  #restaurant_flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#restaurant_flex a {
  margin: 16px;
  width: 90%;
}
#restaurant_flex figure {
  position: relative;
  width: 100%;
  height: 22%;
  border-radius: 30px;
}
#restaurant_flex .restaurant__nouveaute {
  background-color: #99E2D0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 74px;
  text-align: center;
  padding: 5px;
}
#restaurant_flex img {
  width: 100%;
  height: 159px;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
  object-position: bottom;
}
#restaurant_flex figcaption {
  background-color: white;
  border-radius: 0px 0px 30px 30px;
}
#restaurant_flex .restaurant__paragraphe {
  font-weight: 300;
}

.restaurant__figcaption--flex {
  width: 100%;
  height: 56px;
  padding: 0 14px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}
.restaurant__figcaption--flex span {
  margin-right: 25px;
}
.restaurant__figcaption--flex .fa-heart {
  font-size: large;
}
.restaurant__figcaption--flex i:nth-child(2) {
  color: #9356DC;
  position: absolute;
  left: 0px;
  bottom: 1px;
  opacity: 0;
  transition-delay: 300ms;
}
.restaurant__figcaption--flex button {
  background-color: white;
  position: relative;
  border: none;
}
.restaurant__figcaption--flex button:hover i:nth-child(2) {
  animation: filling 1000ms;
}
@keyframes filling {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}

.test123 {
  width: 337px;
  position: relative;
}
@media (min-width: 799px) {
  .test123 {
    width: 339px;
    position: relative;
    margin-right: 46px;
  }
}
.test123 .restaurant__figcaption--flex {
  width: 100%;
  height: 56px;
  padding: 0 14px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}
.test123 span {
  position: absolute;
  right: 1px;
  bottom: 27px;
}

.fa-heart {
  font-size: large;
}

i:nth-child(2) {
  color: #9356DC;
  position: absolute;
  left: 0px;
  bottom: 1px;
  opacity: 0;
  transition-delay: 300ms;
}

button {
  background-color: white;
  position: relative;
  border: none;
}
button:hover i:nth-child(2) {
  animation: filling 1000ms;
}
@keyframes filling {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}

/********** footer section ***************/
#snippet-footer {
  width: 104%;
  height: 187px;
  position: absolute;
  bottom: 0;
}
#snippet-footer a:hover {
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  height: 100vh;
}
footer h4 {
  margin-top: 41px;
  font-size: 1.3rem;
}
footer #footer__links {
  margin: 5% 0;
}
footer p {
  margin-top: 2%;
  font-size: 0.7rem;
}
footer p:nth-child(3) {
  margin: 2px;
}
footer span {
  margin-right: 5px;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}

/******* MODELE PAGE **********/
#header__image img {
  margin-top: 65px;
  width: 100%;
  height: 200px;
}
@media (min-width: 500px) {
  #header__image img {
    object-fit: cover;
  }
}

main {
  position: relative;
  border: 1px solid #f2f2f2;
  border-radius: 0px 0px 20px 20px;
  background-color: #f2f2f2;
  width: 100%;
  bottom: 54px;
  border-radius: 40px 40px 0px 0px;
  padding: 35px 10px 127px 10px;
}
main #heading__main {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 500px) {
  main #heading__main {
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
}
main h2 {
  font-size: 1.8em;
}
@media (min-width: 500px) {
  main h2 {
    margin: 10px auto;
  }
}
main h2 .button__heart {
  border: none;
  margin-right: 5%;
  font-size: 1.2rem;
  background-color: #f2f2f2;
}
@media (min-width: 500px) {
  main h2 .button__heart {
    margin: 10px auto;
  }
}
main h2 .fa-heart {
  size: 25px;
  background-color: #f2f2f2;
}
main .pageMenu_heart {
  background-color: #f2f2f2;
}
main .menu {
  margin-top: 30px;
}
main .menu h3 {
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
  width: 55px;
  height: 31px;
  font-size: 1.2rem;
}
@media (min-width: 500px) {
  main .menu h3 {
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  main .menu h3 {
    margin: 27px auto;
  }
}
@media (min-width: 1000px) {
  main .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
main .menu__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  background-color: white;
  margin-top: 25px;
  border-radius: 14px;
  -webkit-animation-name: taglineEmerge;
  animation-name: taglineEmerge;
  -webkit-animation-duration: 1400ms;
  animation-duration: 1400ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transform: translateY(50px);
  opacity: 0;
}
@media (min-width: 500px) {
  main .menu__link {
    width: 447px;
    margin: 25px auto;
  }
}
@media (min-width: 1000px) {
  main .menu__link {
    width: 393px;
    margin: 23px;
  }
}
main .menu__link:hover span {
  transform: scaleX(1);
  width: 20%;
}
main .menu__link:hover .fa-check {
  -webkit-animation: rotate 500ms normal linear;
  animation: rotate 500ms normal linear;
}
main .menu__link:nth-child(2) {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
main .menu__link:nth-child(3) {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.block-1 {
  width: 100%;
  padding: 0 14px;
}

h4 {
  margin-top: 12px;
  margin-bottom: 5px;
}

.block-1__bis {
  display: flex;
  justify-content: space-between;
}

.menu__paragraph {
  font-weight: 300;
  width: 251px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu__prix {
  justify-self: end;
}

.check {
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: right 100%;
  border-radius: 0 15px 15px 0;
}

.fa-check {
  border: 1px solid white;
  border-radius: 50%;
  margin: 50px;
  background-color: #fff;
  color: #99E2D0;
  font-size: 12px;
  padding: 6px;
}

@keyframes taglineEmerge {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
h4, p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-principal {
  width: 200px;
  height: 48px;
  margin: 8% 0;
  color: white;
  border-radius: 30px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  display: grid;
  place-items: center;
  margin: 50px auto;
  transition-delay: 100ms;
  transition-property: all;
  box-shadow: 5px 3px 5px gray;
}
.btn-principal:hover {
  background-image: linear-gradient(#ff98e2, #a36fe1);
  box-shadow: 10px 5px 5px gray;
}

.white-background-animation::after {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  -webkit-animation-name: apparition;
  animation-name: apparition;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: block;
  opacity: 1;
  background-color: white;
}
@keyframes apparition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-spinner {
  color: official;
  display: block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-animation-name: apparition;
  animation-name: apparition;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes apparition {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: darkviolet;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.test123 span {
  margin-right: 25px;
}
.test123 .fa-heart {
  font-size: large;
}
.test123 i:nth-child(2) {
  color: #9356DC;
  position: absolute;
  left: 0px;
  bottom: 1px;
  opacity: 0;
  transition-delay: 300ms;
}
.test123 button {
  background-color: white;
  position: relative;
  border: none;
}
.test123 button:hover i:nth-child(2) {
  animation: filling 1000ms;
}
@keyframes filling {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, -180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

/*# sourceMappingURL=style.css.map */
